{% extends "base.html.twig" %}
{% block title %}
	{% trans %}blog.tag{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
	{# Affichage des discussions relatives à un billet #}
	{% if blogDiscussions is defined %}
		<div class="row alert alert-info">
			<div class="col-sm-4 mb-2">
				<ul
					class="list-group list-group-flush">
					<li class="list-group-item">{% trans %}blog.topic{% endtrans %}
						{{ blogBillet.titre }}</li>
					<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
						{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
						{% trans %}blog.author{% endtrans %}
						{{ blogBillet.auteur }}</li>
				</ul>
			</div>
			<div class="col-sm-8">
				<p>{{ blogBillet.contenu }}</p>
				{% if userName is not null and userName == blogBillet.auteur %}
					<a
						href={{ path('edit_billet',{"billetId":blogBillet.Id} ) }}>
						<button class="btn btn-warning w-auto">{% trans %}blog.topic.update{% endtrans %}</button>
					</a>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="container w-75">

			{% for blogDiscussion in blogDiscussions %}

				<div class="row alert alert-info">
					<div class="col-sm-4 mb-2">
						<ul
							class="list-group list-group-flush">
							<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
								{{ blogDiscussion.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
								{% trans %}blog.author{% endtrans %}
								{{ blogDiscussion.auteur }}</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<p>{{ blogDiscussion.contenu }}</p>
						{% if userName is not null and userName == blogDiscussion.auteur %}
							<div class="btn-group row">
								<a
									href={{ path('edit_discussion',{"discussionId":blogDiscussion.id} ) }}>
									<button class="btn btn-warning col-sm-6 w-100">{% trans %}blog.comment.update{% endtrans %}</button>
								</a>
								<a
									href={{ path('delete_discussion',{"discussionId":blogDiscussion.id} ) }}>
									<button class="btn btn-danger col-sm-6 w-100"> {% trans %}blog.comment.delete{% endtrans %}</button>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

			<hr>
			{# Création d'un nouveau commentaire #}
			{% if userName is not null %}
				<a
					href="{{ path('create_discussion',{"billetId":blogBillet.id}) }}">
					<button class="btn btn-success w-100">{% trans %}blog.comment.write{% endtrans %}</button>
				</a>
			{% else %}
				<div
					class="alert alert-warning">
					<a class="text-decoration-none text-danger" href="{{ path('user_register') }}">{% trans %}blog.auth_required{% endtrans %}</a>
				</div>
			{% endif %}
		</div>
	{% else %}
		{# Affichage des billets #}
		{% for blogBillet in blogBillets %}
			<div class="row alert alert-info">
				<div class="col-sm-4 mb-2">
					<ul
						class="list-group list-group-flush">
						<li class="list-group-item">{% trans %}blog.topic{% endtrans %}
							{{ blogBillet.titre }}</li>
						<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
							{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
							{% trans %}blog.author{% endtrans %}
							{{ blogBillet.auteur }}</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<p>{{ blogBillet.contenu }}</p>
					<div class="btn-group row">
						<a
							href="{{ path('discussion_index',{"billetId":blogBillet.Id}) }}">
							<button class="btn btn-secondary col-sm-6 w-100"> {% trans %}blog.go{% endtrans %}</button>
						</a>
						{% if userName is not null and userName == blogBillet.auteur %}
							<a
								href={{ path('edit_billet',{"billetId":blogBillet.Id} ) }}>
								<button class="btn btn-warning col-sm-6 w-100">{% trans %}blog.topic.update{% endtrans %}
								</button>
							</a>
						{% endif %}
					</div>
				</div>
			</div>

			<hr>
		{% endfor %}
		{# Création d'un nouveau billet #}
		{% if userName is not null %}
			<a
				href="{{ path('create_billet') }}">
				<button class="btn btn-success w-100">{% trans %}blog.topic.create{% endtrans %}</button>
			</a>
		{% else %}
			<div
				class="alert alert-warning">
				<a class="text-decoration-none text-danger" href="{{ path('user_register') }}">{% trans %}blog.auth_required{% endtrans %}</a>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
