{% extends "base.html.twig" %}
{% block title %}
	Discussion{{ parent() }}
{% endblock %}
{% block body %}
	{# Affichage des discussions relatives à un billet #}
	{% if blogDiscussions is defined %}
		<div class="row alert alert-info">
			<div class="col-sm-4 mb-2">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Sujet :
						{{ blogBillet.titre }}</li>
					<li class="list-group-item">Créé le
						{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
						par
						{{ blogBillet.auteur }}</li>
				</ul>
			</div>
			<div class="col-sm-8">
				<p>{{ blogBillet.contenu }}</p>
				{% if userName is not null and userName == blogBillet.auteur %}
					<a href={{ path('edit_billet',{"billetId":blogBillet.Id} ) }}>
						<button class="btn btn-warning w-auto">Modifier le billet</button>
					</a>
				{% endif %}
			</div>
		</div>
		<hr>
		<div class="container w-75">

			{% for blogDiscussion in blogDiscussions %}

				<div class="row alert alert-info">
					<div class="col-sm-4 mb-2">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Créé le
								{{ blogDiscussion.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
								par
								{{ blogDiscussion.auteur }}</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<p>{{ blogDiscussion.contenu }}</p>
						{% if userName is not null and userName == blogDiscussion.auteur %}
							<div class="btn-group row">
								<a href={{ path('edit_discussion',{"discussionId":blogDiscussion.id} ) }}>
									<button class="btn btn-warning col-sm-6 w-100">Modifier le commentaire</button>
								</a>
								<a href={{ path('delete_discussion',{"discussionId":blogDiscussion.id} ) }}>
									<button class="btn btn-danger col-sm-6 w-100">Supprimer le commentaire</button>
								</a>
							</div>
						{% endif %}
					</div>
				</div>
			{% endfor %}

			<hr>
			{# Création d'un nouveau commentaire #}
			{% if userName is not null %}
				<a href="{{ path('create_discussion',{"billetId":blogBillet.id}) }}">
					<button class="btn btn-success w-100">Ecrire un commentaire</button>
				</a>
			{% else %}
				<div class="alert alert-warning">
					<a class="text-decoration-none text-danger" href="{{ path('user_register') }}">Veuillez vous connecter ou vous inscrire pour ajouter un commentaire</a>
				</div>
			{% endif %}
		</div>
	{% else %}
		{# Affichage des billets #}
		{% for blogBillet in blogBillets %}
			<div class="row alert alert-info">
				<div class="col-sm-4 mb-2">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Sujet :
							{{ blogBillet.titre }}</li>
						<li class="list-group-item">Créé le
							{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
							par
							{{ blogBillet.auteur }}</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<p>{{ blogBillet.contenu }}</p>
					<div class="btn-group row">
						<a href="{{ path('discussion_index',{"billetId":blogBillet.Id}) }}">
							<button class="btn btn-secondary col-sm-6 w-100">Accéder</button>
						</a>
						{% if userName is not null and userName == blogBillet.auteur %}
							<a href={{ path('edit_billet',{"billetId":blogBillet.Id} ) }}>
								<button class="btn btn-warning col-sm-6 w-100">Modifier le billet
								</button>
							</a>
						{% endif %}
					</div>
				</div>
			</div>

			<hr>
		{% endfor %}
		{# Création d'un nouveau billet #}
		{% if userName is not null %}
			<a href="{{ path('create_billet') }}">
				<button class="btn btn-success w-100">Créer un nouveau sujet</button>
			</a>
		{% else %}
			<div class="alert alert-warning">
				<a class="text-decoration-none text-danger" href="{{ path('user_register') }}">Veuillez vous connecter ou vous inscrire pour ajouter un billet</a>
			</div>
		{% endif %}
	{% endif %}
{% endblock %}
