{% extends "base.html.twig" %}

{% block title %}
{% trans %}search.tag{% endtrans %}{{ parent()}}
{% endblock %}

{% block body %}
	<h1>{% trans %}search.result.display{% endtrans %}"{{ term }}" :</h1>
	<h2>{% trans %}search.articles{% endtrans %}</h2>
	{% if articles is empty %}
		<p>{% trans %}search.result.no_article{% endtrans %}</p>
	{% else %}
		{% for article in articles %}
			<a href="{{ path('show_article',{'articleId':article.id })}}">{% trans %}search.result.article_link{% endtrans %}</a>
			<p>{{ article.contenu }}</p>
		{% endfor %}
	{% endif %}
	<h2>{% trans %}search.blog{% endtrans %}</h2>
	{% if discussions is empty %}
		<p>{% trans %}search.result.no_discussion{% endtrans %}</p>
	{% else %}
		{% for discussion in discussions %}
			<a href="{{ path('discussion_index',{'billetId' : discussion.billet.id}) }}">{% trans %}search.result.discussion_link{% endtrans %}</a>
			<p>{{ discussion.contenu }}</p>
		{% endfor %}
	{% endif %}

{% endblock %}
