{% extends "base.html.twig" %}
{% block title %}
	Article{{ parent() }}
{% endblock %}
{% block body %}
	{% if articles|length == 1 %}
		{% for article in articles %}
			<h1>{{ article.titre }}</h1>
			<div class="album py-5 bg-light">
				<div class="container">
					<div>{{ article.contenu }}</div>
					<div class="btn-group">
						<a href={{ path('admin_edit_article',{"articleId":article.id} ) }}>
							<button class="btn btn-warning mt-3">Modifier l'article</button>
						</a>
						<a href={{ path('admin_delete_article',{"articleId":article.id} ) }}>
							<button class="btn btn-danger mt-3">Supprimer l'article</button>
						</a>
					</div>
					<hr>
					<div class="row row-cols-1 row-cols-md-2 g-3">
						{% for image in article.images %}
							<div class="col">
								<div class="card shadow-sm">
									<img src="{{ image.link }}" alt="{{ image.titre }}" title="{{ image.titre }}">


									<div
										class="card-body">
										{# <h3>{{ image.titre }}</h3> #}
										<div class="d-flex justify-content-between align-items-center">
											<div class="btn-group">
												<a href={{ path('admin_show_image',{"imageId":image.id} ) }}>
													<button type="button" class="btn btn-sm btn-outline-secondary">Voir</button>
												</a>
												<a href={{ path('edit_image',{"imageId":image.id} ) }}>
													<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
												</a>
												<a href={{ path('delete_image',{"imageId":image.id} ) }}>
													<button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="container">
			<div class="list-group list-group-flush">
				{% for article in articles %}
					<div class="list-group-item">
						<div class="d-flex w-100 justify-content-between">
							<a href={{ path('admin_show_article',{"articleId":article.id} ) }} class="text-decoration-none">
								<h1>{{ article.titre }}</h1>
							</a>
							<small>{{ article.dateCreation|date('d/m/Y') }}</small>
						</div>
						<div>
							{% if article.contenu|length >= 135 %}
								{{ article.contenu|slice(0,135) }}
								...
							{% else %}
								{{ article.contenu}}
							{% endif %}
						</div>
						<div class="btn-group">
							<a href={{ path('admin_show_article',{"articleId":article.id} ) }}>
								<button class="btn btn-primary mt-3">Afficher l'article</button>
							</a>
							<a href={{ path('admin_edit_article',{"articleId":article.id} ) }}>
								<button class="btn btn-warning mt-3">Modifier l'article</button>
							</a>
							<a href={{ path('admin_delete_article',{"articleId":article.id} ) }}>
								<button class="btn btn-danger mt-3">Supprimer l'article</button>
							</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div>
		<a href={{ path('admin_create_article') }}>
			<button class="btn btn-success mt-3">Créer un nouvel article</button>
		</a>
	</div>
{% endblock %}
