{% extends "base.html.twig" %}
{% block title %}
	{% trans %}blog.tag{% endtrans %}{{ parent() }}
{% endblock %}
{% block body %}
	{# Affichage des discussions relatives à un billet #}
	{% if blogDiscussions is defined %}
		<div class="row alert alert-info">
			<div class="col-sm-4 mb-2">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">{% trans %}blog.topic{% endtrans %}
						{{ blogBillet.titre }}</li>
					<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
						{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
						{% trans %}blog.author{% endtrans %}
						{{ blogBillet.auteur }}</li>
				</ul>
			</div>
			<div class="col-sm-8">
				<p>{{ blogBillet.contenu }}</p>
				<div class="btn-group row">
					<a href={{ path('admin_edit_billet',{"billetId":blogBillet.Id} ) }}>
						<button class="btn btn-warning col-sm-6 w-100">{% trans %}blog.topic.update{% endtrans %}</button>
					</a>
					<a href={{ path('admin_delete_billet',{"billetId":blogBillet.Id} ) }}>
						<button class="btn btn-danger col-sm-6 w-100">{% trans %}blog.topic.delete{% endtrans %}</button>
					</a>
				</div>
			</div>
		</div>
		<hr>
		<div class="container w-75">

			{% for blogDiscussion in blogDiscussions %}

				<div class="row alert alert-info">
					<div class="col-sm-4 mb-2">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
								{{ blogDiscussion.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
								{% trans %}blog.author{% endtrans %}
								{{ blogDiscussion.auteur }}</li>
						</ul>
					</div>
					<div class="col-sm-8">
						<p>{{ blogDiscussion.contenu }}</p>
						<div class="btn-group row">
							<a href={{ path('admin_edit_discussion',{"discussionId":blogDiscussion.id} ) }}>
								<button class="btn btn-warning col-sm-6 w-100">{% trans %}blog.comment.update{% endtrans %}</button>
							</a>
							<a href={{ path('admin_delete_discussion',{"discussionId":blogDiscussion.id} ) }}>
								<button class="btn btn-danger col-sm-6 w-100">{% trans %}blog.comment.delete{% endtrans %}</button>
							</a>
						</div>
					</div>
				</div>
			{% endfor %}

			<hr>
			{# Création d'un nouveau commentaire #}
			<a href="{{ path('admin_create_discussion',{"billetId":blogBillet.id}) }}">
				<button class="btn btn-success w-100">{% trans %}blog.comment.write{% endtrans %}</button>
			</a>
		</div>
	{% else %}
		{# Affichage des billets #}
		{% for blogBillet in blogBillets %}
			<div class="row alert alert-info">
				<div class="col-sm-4 mb-2">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">{% trans %}blog.topic{% endtrans %}
							{{ blogBillet.titre }}</li>
						<li class="list-group-item">{% trans %}blog.creation_date{% endtrans %}
							{{ blogBillet.datecreation|date('d/m/Y à G:i:s', 'Europe/Paris') }}
							{% trans %}blog.author{% endtrans %}
							{{ blogBillet.auteur }}</li>
					</ul>
				</div>
				<div class="col-sm-8">
					<p>{{ blogBillet.contenu }}</p>
					<div class="btn-group row">
						<a href="{{ path('admin_discussion_index',{"billetId":blogBillet.Id}) }}">
							<button class="btn btn-secondary col-sm-4 w-100">{% trans %}blog.go{% endtrans %}</button>
						</a>
						<a href={{ path('admin_edit_billet',{"billetId":blogBillet.Id} ) }}>
							<button class="btn btn-warning col-sm-4 w-100">{% trans %}blog.topic.update{% endtrans %}</button>
						</a>
						<a href={{ path('admin_delete_billet',{"billetId":blogBillet.Id} ) }}>
							<button class="btn btn-danger col-sm-4 w-100">{% trans %}blog.topic.delete{% endtrans %}</button>
						</a>
					</div>
				</div>
			</div>

			<hr>
		{% endfor %}
		{# Création d'un nouveau billet #}
		<a href="{{ path('admin_create_billet') }}">
			<button class="btn btn-success w-100">{% trans %}blog.topic.create{% endtrans %}</button>
		</a>
	{% endif %}
{% endblock %}
