{% extends 'base.html.twig' %}

{% block title %}Accueil{{parent()}}
{% endblock %}

{% block body %}

	{# Vidéos #}

	<div class="album py-5 bg-light">
		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				{% for video in videos %}
					<div class="col">
						<div class="card shadow-sm">
							<iframe width="100%" height="315" src="https://www.youtube.com/embed/{{ video.iframe }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


							<div class="card-body">
								<h3>{{ video.titre }}</h3>
								<p class="card-text">{{ video.extrait }}</p>
								<div class="d-flex justify-content-between align-items-center">
									<div class="btn-group">
										<a href={{ path('edit_video',{"videoId":video.id} ) }}>
											<button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
										</a>
										<a href={{ path('delete_video',{"videoId":video.id} ) }}>
											<button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<a href={{ path('add_video') }} class="row">
				<button type="button" class="btn btn-sm btn-outline-secondary btn-success text-white">Ajouter une vidéo</button>
			</a>
		</div>
	</div>
	{# Fin des Vidéos #}
{% endblock %}
