<!DOCTYPE html>
<html lang="fr" class="h-100">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<title>
			{% block title %}
				- SuperCombo
			{% endblock %}
		</title>
		{#* Ajouter le logo dans l'onglet #}

		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/sticky-footer-navbar.css') }}">
			<link rel="stylesheet" href="{{ asset('assets/css/carousel.css')}}">
		{% endblock %}
		{% include "layout/style.html.twig" %}
		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
		{% endblock %}

	</head>
	<body>
		{% include "layout/header.html.twig" %}
		<main class="flex-shrink-0">
			<div class="container"> {% block body %}{% endblock %}
				</div>
			</main>
			{% include "layout/footer.html.twig" %}

		</body>
	</html>
