{% trans_default_domain "messages" %}
{% set locale = app.request.locale %}
<header>
	<!-- Fixed navbar -->
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand d-flex align-items-center fs-4 mb-0" href="{{ path('index') }}">
				<img src="{{ asset('assets/img/logo.png') }}" alt="logo" width="50px" class="img img-thumbnail figure-img">
				<h1 class="navbar-brand mx-2">SuperCombo</h1>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="navbar-nav me-auto mb-2 mb-md-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('article_index') }}">{% trans %}header.articles{% endtrans %}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="{{ path('blog_index') }}">{% trans %}header.forum{% endtrans %}</a>
					</li>
					{% if is_granted('ROLE_USER') == false %}
						<li class="nav-item">
							<a class="nav-link active" href={{ path('user_register') }}>{% trans %}header.signIn{% endtrans %}</a>
						</li>
						<li class="nav-item">
							<a class="nav-link active" href={{ path('app_login') }}>{% trans %}header.logIn{% endtrans %}</a>
						</li>
					{% else %}
						<li class="nav-item">
							<a class="nav-link active" href={{ path('app_logout') }}>{% trans %}header.logOut{% endtrans %}</a>
						</li>
					{% endif %}
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item dropdown">
							<a class="nav-link active dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">{% trans %}header.admin{% endtrans %}</a>
							<ul class="dropdown-menu" aria-labelledby="category">
								<li>
									<a class="dropdown-item" href={{ path('admin_video_index') }}>{% trans %}header.admin.videos{% endtrans %}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_blog_index') }}">{% trans %}header.admin.forum{% endtrans %}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_article_index') }}">{% trans %}header.admin.articles{% endtrans %}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_media_index') }}">{% trans %}header.admin.images{% endtrans %}</a>
								</li>
								<li>
									<a class="dropdown-item" href="{{ path('admin_slide_index') }}">{% trans %}header.admin.slides{% endtrans %}</a>
								</li>
								{% if is_granted('ROLE_SUPERADMIN') %}
									<li>
										<a class="dropdown-item" href={{ path('admin_register') }}>{% trans %}header.admin.signIn{% endtrans %}</a>
									</li>
								{% endif %}
							</ul>
						</li>
					{% endif %}
				</ul>
				<form class="d-flex" action="{{ path('search') }}">
					<input type="search" name="search" class="form-control me-2" aria-label="Search">
					<input type="submit" class="btn btn-outline-success" value={% trans %} header.search {% endtrans %}>
				</form>

				<li class="nav-item dropdown d-flex">
					<a class="nav-link active dropdown-toggle" href="#" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
						<img src="{{asset("assets/img/"~ locale ~"-flag-icon.png")}}" alt="french flag" style="width : 40px"/>
					</a>
					<ul class="dropdown-menu" aria-labelledby="language">
						<li>
							<a class="dropdown-item" href="#">
								<img src="{{asset("assets/img/fr-flag-icon.png")}}" alt="french flag" style="width : 40px"/>
							</a>
						</li>
						<li>
							<a class="dropdown-item" href="#">
								<img src="{{asset("assets/img/en-flag-icon.png")}}" alt="english flag" style="width : 40px"/>
							</a>
						</li>
					</ul>
				</li>
			</div>
		</div>
	</nav>
</header>
